@charset "utf-8";
.headings  {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: bold;
}
h1 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}
h2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    color: #000000;
    text-align: left;
}
h3 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* [disabled]font-style: normal; */
    font-size: medium;
    font-weight: normal;
    text-align: left;



}
