@charset "utf-8";

ul li a {
    width: 100%;
    text-decoration: none;
}

li {
    display: inline;
}

.menu_bar {
    text-align: center;
}

ul li a:hover {
    color: #EBD1BF;
    background-color: #A29083;
}
